:root {
  --main-color: rgb(228, 7, 214);
  --sub-color: skyblue;
  --text-color: rgb(81, 231, 59);
}

h1 {
  color: var(--main-color);
}

h3 {
  color: var(--sub-color);
}

p {
  --br-radius: 5px;
  color: var(--text-color);
}

th {
  color: var(--main-color);
}

td {
  color: var(--text-color);
}

button {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 8px 15px;
}

#login {
  background-color: var(--main-color);
  /* border-radius: var(--br-radius); */
  
}

#register {
  background-color: var(--sub-color);
  /* border-radius: var(--br-radius); */
}